<%- include('./header.ejs')%>

    <div class="bodyblock">
        <br>
        <h3>
            <%= error.status %> Error
        </h3>
        <br>
        <br>
        <h3>
            <%= error.message %> .
        </h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

<%- include('./footer.ejs')%>