<br>
<br>
<footer>
    <div class="footernavigator">

        <nav>
            <a href="/aboutus">About</a> &nbsp; &nbsp; &nbsp;
            <a href="/contact">Contact Us</a> &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;
            <a href="/"><img src="/assets/facebook.png" alt=""></a> &nbsp;
            &nbsp; &nbsp;
            <a href="/"><img src="/assets/linkedIn.png" alt=""></a> &nbsp;
            &nbsp; &nbsp;
        </nav>

        <small>All Rights Reserved © 2021</small>
    </div>
</footer>


</html>