<div class="subNavigator">
    <nav class="p_navigation">
        <% if(user){ %>
        <ul>
            <li><a href="/news/create"> Add a new News</a></li>
        </ul>
        <% } %>
    </nav>
</div>