<div class="subNavigator">
    <nav class="p_navigation">
        <% if(user){ %>
        <ul>
            <li><a href="/schedule/create"> Add a new Schedule</a></li>
        </ul>
        
        <% } %>
    </nav>
</div>