<%- include('../partials/header.ejs')%>


    <div class="bodyblock">
        <br>
        <p>Welcome to <b>CricOMania!!!</b></p>
        <p>This page is developed by Punit Mashruwala</p>
        <p>Student Id: 801208416</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

  

<%- include('../partials/footer.ejs')%>