<%- include('../partials/header.ejs')%>


    <div class="bodyblock">
        <br>
        <p>Welcome to <b>CricOMania!!!</b></p>
        <p>Punit Mashruwala</p>
        <p>Email: pmashruw@uncc.ejs</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>


<%- include('../partials/footer.ejs')%>