<%- include('../partials/header.ejs')%>


    <section class="workshops">
        <br>
        <p>Welcome to <b>CricOMania!!!</b></p>
        <br>
        <p>One place to find everthing about cricket starting from score's to news.</p>
        <br>
        <br>
        <br>
        <h3>Upcoming Matches: </h3>
        <h4>First SemiFinal - 09/18/2021</h4>
        <h5> <u> SPCC VS CLCC</u> at <a href=""> Kilborne Park </a> </h5>
        <br>
        <h4>Second SemiFinal - 09/19/2021</h4>
        <h5><u>CTCC VS JCC</u> at <a href=""> Robert Smith Park </a></h5>

        <br>
        <h4>Final - 09/26/2021</h4>
        <h5>Winner of SemiFinal 1 VS Winner of SemiFinal 2 at <a href=""> TBD </a></h5>


    </section>





<%- include('../partials/footer.ejs')%>